<!-- YouTube API -->
<script src="https://www.youtube.com/iframe_api"></script>
<!-- 投稿フォーム -->
<div class="posts_box clearfix" id="modal-content">
  <div>
    <p><a id="modal-close" class="back_button-link"><%= image_tag ("back.png"), :size => '25x25' %></a></p>
  </div>
  <div id="modal-content-innar">
    <% if user_signed_in? %>
      <%= form_tag('/posts', method: :post) do %>
        <textarea class="post_textarea" cols="30" name="text" placeholder="今何観てる？" rows="10"></textarea><br>
        <div class="url_box">
          <input class="url_posts" placeholder="Video Url" type="text" name="url" autofocus="true"><br>
        </div>
        <div class="button_location">
          <input class="submit_button" type="submit" value="POST">
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!-- コンテンツ -->
<div class="contents row" >
  <% @videos.each_with_index do |video, i| %>
    <div class="card_design">
      <!-- IFrame API が動画プレーヤーを配置する、ページ上の位置を識別 -->
      <%= render partial: "posts/over_YT", locals: { video: video} %>
      <div id="player_<%=i%>"></div>
      <%= render partial: "posts/under_YT", locals: { video: video} %>
    </div>
  <% end %>
  
  <script>
    // IFrame Player API JavaScript コードが読み込む。
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    // プレーヤー API コードがダウンロードし、onYouTubeIframeAPIReady 関数が実行。組み込もうとしている動画プレーヤーを表すグローバル変数 player を定義
    var player;
    function onYouTubeIframeAPIReady() {
      // ids = ["aaaaaa", "bbbbbb", "cccccc"]
      var videoIds = <%=@yt_video_ids_j%>;
      for (var i in videoIds){
        var videoId = videoIds[i];
        var playerId = "player_"+ i;
        player = new YT.Player(playerId, {
          height: '360',
          width: '640',
          videoId: videoId,
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });//player
      }//for
    }
    // onReady イベントが起動し、onPlayerReady 関数が実行する
    function onPlayerReady(event) {
      event.target.playVideo();
      event.target.mute();
    }
    // プレーヤーの状態が変化すると、API によって onPlayerStateChange 関数が呼び出される。状態は、プレーヤーの再生、一時停止、終了などを示す。この関数により、プレーヤーの状態が 1（再生中）になると、動画を 6 秒間再生した後、stopVideo 関数を呼び出して動画を停止する。
    var done = false;
    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
        setTimeout(stopVideo(event), 3000);
        done = true;
      }
    }
    function stopVideo() {
      event.target.stopVideo();
      done = true;
    }
  </script>
</div>