<div class="posts_box">
  <% if user_signed_in? %>
    <%= form_tag('/posts', method: :post) do %>
      <input placeholder="Video Url" type="text" name="url" autofocus="true"><br>
      <textarea cols="30" name="text" placeholder="text" rows="10"></textarea><br>
      <input type="submit" value="POST">
    <% end %>
  <% end %>
</div>

<div class="contents row" >
  <% @videos.each_with_index do |video, i| %>
    <!-- IFrame API が動画プレーヤーを配置する、ページ上の位置を識別 -->
    <p>
      <a href="">
        <%= video.user.username %>
      </a>
    </p>

    <p><%= video.text %></p>

    <div id="player_<%=i%>"></div>
    
    <% if user_signed_in? && current_user.id == video.user_id %>
      <div>
        <li>
          <%= link_to '編集', "/posts/#{video.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/posts/#{video.id}", method: :delete %>
        </li>  
      </div>
    <% end %>
    
    <div class="comments">   
      <% if @comments %>
        <h4>＜COMMENTS＞</h4>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.username, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.comment %>
          </p>
        <% end %>
      <% end %>
    </div>
    
    <div class="container"> 
      <!-- ここからフォーム -->
      <% if current_user %>
        <%= form_tag("/posts/#{video.id}/comments", method: :post) do %>
          <textarea cols="30" name="comment" placeholder="Comment" rows="2"></textarea>
          <input type="submit" value="SENT">
        <% end %>
      <% end %>
    </div>
  <% end %>

  <script>
    // IFrame Player API JavaScript コードが読み込む。
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    // プレーヤー API コードがダウンロードし、onYouTubeIframeAPIReady 関数が実行。組み込もうとしている動画プレーヤーを表すグローバル変数 player を定義
    var player;
    function onYouTubeIframeAPIReady() {
      // ids = ["aaaaaa", "bbbbbb", "cccccc"]
      var videoIds = <%=@yt_video_ids_j%>;
      for (var i in videoIds){
        var videoId = videoIds[i];
        var playerId = "player_"+ i;
        player = new YT.Player(playerId, {
          height: '360',
          width: '640',
          videoId: videoId,
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });//player
      }//for
    }
    // onReady イベントが起動し、onPlayerReady 関数が実行する
    function onPlayerReady(event) {
      event.target.playVideo();
      event.target.mute();
    }

    // プレーヤーの状態が変化すると、API によって onPlayerStateChange 関数が呼び出される。状態は、プレーヤーの再生、一時停止、終了などを示す。この関数により、プレーヤーの状態が 1（再生中）になると、動画を 6 秒間再生した後、stopVideo 関数を呼び出して動画を停止する。
    var done = false;
    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
        setTimeout(stopVideo, 3000);
        done = true;
      }
    }
    function stopVideo() {
      event.target.stopVideo();
      done = true;
    }
  </script>
</div>



